.Movie{
    border: 2px solid silver;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.Info{
    display: flex;
    justify-content: space-between;
    width: 200px;

}
.Poster{
    width: 90px;
    height: 120px;
    border-radius: 5px;
}
.Card{
    display: flex;
    align-items: center;
    margin: 10px;
    color: salmon;
}
.Avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
}
.Menu{
    width: 200px;
    height: 300px;
    position: absolute;
    z-index: 1000;
    background-color: silver;
}