body {
    /*background-color: #0b0a26;*/
    background-image: url("assets/back3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;


}